/* Base
  ================================================== */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: Lato, sans-serif;
  background-color: #ddd;
  color: #777;
}

/* Layout */
.container-fluid {
  margin: 0;
  padding: 0;
}


h1 {
  line-height: 1.7em;
}

/* Navigation
  ================================================== */

.navbar-brand {
  padding-left: 2em;
  padding-right: 1.5em;
}

.navbar-nav > li > a {
  padding-left: 3em;
  padding-right: 3em;
}


/* Banière
  ================================================== */

.banniere {
	background-image: url(../img/monaco.jpg);
	background-size: cover;
	background-position: center;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 0;
  //filter: opacity(.8);
}

/* search bar */

.search-bar-wraper {
  padding-top: 250px;
  text-align: center;
  width: 100%;
}

.btn-lg {
  margin-left: 20px;
}

.form-group {
  margin: 0 auto 30px auto;
  width: 600px;
}

.input-group {
  width: 100%;
}

.form-control {
  width: 100%;
}

/* Présentation
    ================================================== */


main > h1 {
  margin: 2em 1em;
}

.activite-moment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.activite-moment-img {
  max-height: 300px;
  margin: 2em 0;
  background-color: #e5e5e5;
}

@media only screen and (min-width : 768px) {
  .activite-moment-img {
    margin: 2em 3em;
  }
}

@media only screen and (min-width : 992px) {
  .activite-moment > h2 {
    padding: 2em 5em;
  }
  .activite-moment-img {
    margin: 3em 10em;
  }
}

/* Liens
    ================================================== */

#link-section {
  padding: 2em 1em;
}

#link-section > .btn-lg{
  margin: 0;
}

@media only screen and (min-width: 992px) {
  #link-section {
    padding: 2em 5em;
  }
}

/* Pied de page
    ================================================== */

footer {
  margin-top: 3em;
  height: 5em;
  background-color: #444;
  display: flex;
  align-items: flex-end;
}

#btn-retour {
  width: 150px;
}
